@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
.clock {
    position: relative;
    width: 100%;
    text-align: center;
}

.clock .display {
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
    transition: 0.8s;
}

.content .textBox .linklive {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    max-width: 120px;
    /* height: 30px; */
    font-size: 0.8em;
    padding: 5px 25px;
    margin-bottom: 10px;
    color: white;
    background-color: red;
    border: 1px solid red;
    opacity: 1;
    animation: blinking 1s infinite;
}

#nextclass {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    transition: 0.8s;
}

.ongoing {
    transition: 0.8s;
}

.nextclass {
    color: white;
    font-weight: 600;
    transition: 0.8s;
    font-family: Helvetica, sans-serif;
}


/*  */

.uta18l {
    background-color: #3498db;
    cursor: pointer;
}

.uta18p {
    background-color: #5aa7da;
    cursor: pointer;
}

.uta15l {
    background-color: #9b59b6;
    cursor: pointer;
}

.uta15p {
    background-color: #a274b5;
    cursor: pointer;
}

.uec1l {
    background-color: #048339;
    cursor: pointer;
}

.uec1p {
    background-color: #02b54c;
    cursor: pointer;
}

.uec1t {
    background-color: #01bd4f;
    cursor: pointer;
}

.uph4l {
    background-color: #a03e33;
    cursor: pointer;
}

.uph4p {
    background-color: #c95447;
    cursor: pointer;
}

.uph4t {
    background-color: #f76d5e;
    cursor: pointer;
}

.uma4p {
    background-color: #ee9607;
    cursor: pointer;
}

.uma4l {
    background-color: #f0a630;
    cursor: pointer;
}

.uma4t {
    background-color: #edb04e;
    cursor: pointer;
}

.uhu3l {
    background-color: #e8209e;
    cursor: pointer;
}

.uhu3p {
    background-color: #e259b0;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    user-select: none;
}

body {
    background-color: #131419;
}

::-webkit-scrollbar {
    width: 3px;
}

.home {
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.exams {
    transition: 0.8s;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.study {
    transition: 0.8s;
    display: none;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    /* max-height: 80vh; */
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131419;
}

header {
    /* position: fix; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 50px;
    background: #131419;
    z-index: 10;
    transition: 0.8s;
}

header .navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px;
    /* margin-bottom: 20px; */
}

header .logo {
    position: relative;
    color: #ff5e8e;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 0.1s;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

hr {
    background-color: #ff5e8e;
    display: none;
    width: 100%;
    margin: auto;
    border: 1px solid #ff5e8e;
    height: 1px;
    /* border-radius: 20px; */
}

header ul li a {
    display: inline-block;
    color: #0169b2;
    font-weight: 400;
    font-size: 1.1em;
    margin: 0px 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    transition: 0.4s ease-in-out;
    font-family: 'Nunito';
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.1s * var(--i));
}

.active {
    color: #ff5e8e;
}

header ul li a:hover {
    /* background: #0169b2; */
    color: #ff5e8e;
    /* border-radius: 3px; */
}

.noticeData {
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #131419;
    transition: 0.8s;
}

.content {
    width: 100%;
    padding: 1rem 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 550px;
    /* margin-right: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.8s;
    opacity: 0;
    animation: slide_right 0.4s linear forwards;
    animation-delay: 1.5s;
}

.content h2 {
    color: #0169b2;
    font-size: 4.5em;
    /* margin-bottom: 10px; */
    /* line-height: 1.2em; */
    font-weight: 800;
    transition: 0.8s;
    /* font-family: 'Nunito'; */
}

.homep {
    color: white;
}

.sco {
    /* position: absolute; */
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sco li {
    list-style: none;
    opacity: 0;
    margin: 0px 10px;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc( 1s + 0.1s * var(--i));
}

.sco li a {
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.sco li a:hover {
    transform: translateY(-10px);
}

.sco li .tooltiptext {
    font-family: 'Nunito';
    font-weight: 100;
    font-size: 0.7em;
    visibility: hidden;
    width: 100px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    /*position */
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 80%;
    margin-left: -60px;
    opacity: 0;
    transition: 0.4s;
}

.sco li:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    bottom: 125%;
}

.coe14 {
    position: relative;
    width: 170px;
    /* padding-top: 18px; */
    /* bottom: 0;
    right: 150px; */
    opacity: 0;
    animation: fade_in 1s linear forwards;
    animation-delay: 2s;
}


/*  toggle bar  */

.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
}

.toggle-button .bar1 {
    transition: 0.5s;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 0px;
}

.toggle-button .bar2 {
    transition: 0.3s;
}

.toggle-button .bar3 {
    transition: 0.5s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.smallnav1 {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.darkmodetoggle .moon {
    animation: upsidedown 0.4s ease-out forwards;
    display: block;
    opacity: 0;
}

.darkmodetoggle .sun {
    display: none;
}


/* *********************Schedule****************** */

.schedule {
    transition: 0.8s;
    display: none;
    position: relative;
    justify-content: center;
    padding: 2rem 130px;
    align-items: center;
}

.imgcontent {
    display: none;
}


/* table */

.tab {
    /* position: absolute; */
    /* left: 50px; */
    max-width: 100%;
    opacity: 0;
    animation: fade_in 0.2s linear forwards;
    animation-delay: 0.5s;
}

table {
    color: #efefef;
}

.time {
    transition: 0.8s;
}

tr {
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc( 0.2s * var(--i));
}

th {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    padding: 0.3em;
    width: 10em;
}

.blanktde {
    background-color: rgb(28, 28, 28);
    transition: 0.8s;
}

.blanktdo {
    background-color: rgb(38, 38, 38);
    transition: 0.8s;
}

td {
    font-family: 'Nunito';
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0.2em;
    width: 10em;
    position: relative;
    /* display: inline-block; */
}


/* Tooltip text */

td .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /*position */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: 0.4s;
}


/* Tooltip arrow */

td .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}

td:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    bottom: 80%;
}


/* EXAMS */

.exams th {
    background-color: #0169b2;
}


/* responsive */

@media (max-width: 900px) {
    header ul li a {
        padding: 0px 6px;
        margin: 4px 5px;
        font-size: 1rem;
    }
    header .navcontainer {
        margin: 0px 4px;
    }
    .darktoggle {
        margin-left: 100px;
    }
}

@media (max-width: 700px) {
    section {
        padding: 10px 20px;
        justify-content: center;
    }
    .home {
        transition: 0.8s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content {
        padding: 50px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content h2 {
        font-size: 3.5rem;
        opacity: 0;
        animation: slide_top 0.4s linear forwards;
        animation-delay: 0.5s;
    }
    .content .textBox {
        max-width: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        animation: slide_top 0.3s linear forwards;
        animation-delay: 0.8s;
    }
    .content .textBox .ongoing {
        font-size: 1.2em;
        /* color: white; */
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.8s;
    }
    .content .textBox .linklive {
        max-width: 100px;
        font-size: 0.85em;
        padding: 5px 12px;
        text-align: center;
        margin: 7px;
        color: white;
        background-color: red;
        border: 1px solid red;
    }
    .coe14 {
        display: none;
    }
    /* schedule */
    .schedule {
        padding: 10px;
    }
    .tab {
        display: none;
    }
    .imgcontent {
        display: block;
        opacity: 0;
        animation: fade_in 0.2s linear forwards;
        animation-delay: 0.5s;
    }
    .ttimg {
        max-width: 100%;
        max-height: 100%;
        transition: 0.8s;
    }
    header {
        padding: 20px;
    }
    .navigation {
        display: none;
    }
    .toggle-button {
        display: flex;
    }
    .smallnav1 {
        display: flex;
        /* height: 0px; */
        justify-content: flex-end;
        flex-direction: column;
        position: absolute;
        width: 180px;
        right: 0;
        top: -290px;
        transition: 0.8s;
        z-index: 1;
    }
    .smallnavlinks ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .smallnavlinks li a {
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        transition: 0.8s;
    }
    .smallnavlinks li a:hover,
    .smallnavlinks li a.active {
        /* background-color: rgb(36, 36, 36); */
        color: #ff5e8e;
    }
    .actives .smallnav1 {
        transform: translate(0px, 454px);
        position: fixed;
    }
    .sco {
        opacity: 0;
        animation: slide_top 0.3s linear forwards;
        animation-delay: calc(0.1s * var(--i));
    }
}


/******************** Key Frames *********************/

@keyframes slide_left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide_top {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slide_right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes upsidedown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    90% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        background: #131419;
    }
    50% {
        background: #131419;
    }
    51% {
        background: red;
    }
    100% {
        background: red;
    }
}


/* light mode */

.whitetext {
    color: #fff;
}

.darktoggle {
    position: absolute;
    margin-left: 200px;
}

.sun {
    animation: upsidedown 0.4s ease-out forwards;
    opacity: 0;
}

.moon {
    /* transform: translateY(-100px); */
    opacity: 0;
    display: none;
}

.whitebg {
    background-color: #fff;
}

.whiteblur {
    background-color: rgba(232, 232, 232, 0.5);
}

.blackbg {
    background-color: #000;
}

.textblack {
    color: black;
}

.darkpinkbg {
    background-color: #b63a5f;
}

.offwhitebg {
    background-color: #fce8ef;
}

.lightyellowbg {
    background-color: #ffcee0;
}